:root{
    --pink: #FF3E79;
    --lakesFont: 'TT Lakes Medium'
}
@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../fonts/TTLakes-Medium.eot');
    src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
h1{
    font:700 28px/40px var(--lakesFont);
    padding: 0 0 0 12px;
    position: relative;
}
h1::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    left: 0;
    background: #41F6D7;
    border-radius: 0 5px 5px 0;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
}
header{
    padding: 24px 16px;
}
nav{
    display: flex;
    align-items: center;
    position: relative;
}
nav > div:last-child{
    margin: 0 0 0 auto;
}
.burger-menu{
    position: absolute;
    left: 0%;
    top: 0;
}
.burger__btn{
    width: 40px;
    height: 40px;
    background: var(--pink);
    border: 0;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin: 0 16px 0 0;
}
.burger__btn span{
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.burger__btn span:first-child{
    top: 35%;
}
.burger__btn span:nth-child(2){
    width: 13px;
}
.burger__btn span:last-child{
    top: 65%;
}

.right-nav__list{
    display: flex;
    gap: 16px;
    position: relative;
}
.logo__item{
    position: relative;
}
.right-nav__list::before{
    content: "";
    position: absolute;
    left: -20px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    border-radius: 1px;
    background-color: #EAEAEA;
}
.title{
    position: relative;
}
.navigation{
    position: relative;
}
.navigation__list{
    display: flex;
    overflow: auto;
    gap: 16px;
    margin: 24px 0;
}
.navigation::after{
    content: '';
    width: 32px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);}
.navigation__item{
    color: #7E7E82;
    font: 500 16px var(--lakesFont);
    background-color: #fff;
    padding: 8px 16px;
    white-space: nowrap;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.navigation__item_active, .navigation__item:hover{
    border-color: #B8FFEC;
}

.content__more{
    background-color: transparent;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: #1B1C21;
    font: 600 16px var(--lakesFont);
}
.content__text p{
    color: #1B1C21;
    font: 14px var(--lakesFont);
    margin: 0 0 20px 0;
}
.content__img{
    margin: 25px 0;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

@media only screen and (min-width: 768px) {
    .content {
        display: flex;
        gap: 48px;
    }
    .content__text{
        flex-basis: 60%;
    }
    .logo{
        position: relative;
    }
    .logo::before {
        content: "";
        position: absolute;
        left: -20px;
        height: 32px;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        border-radius: 1px;
        background-color: #EAEAEA;
    }
    .burger__btn {
        margin: 0 40px 0 0 ;
    }
    .content__img{
        margin: 0;
    }
}
@media only screen and (min-width: 1120px) {
    .navigation__list{
        flex-wrap: wrap;
        overflow: hidden;
    }
    .content__text{
        flex-basis: 40%;
    }
    .content__img{
        flex-basis: 60%;
    }
}