:root{
    --pink: #FF3E79;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
header{
    position: relative;
    padding: 24px 16px;
}
.burger-menu{
    position: absolute;
    left: -300%;
}
.burger__btn{
    width: 20px;
    height: 20px;
    padding: 20px;
    background: var(--pink);
    border: 0;
    border-radius: 50%;
    position: relative;
}
.burger__btn span{
    display: inline-block;
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.burger__btn span:first-child{
    top: 35%;
}
.burger__btn span:nth-child(2){
    width: 20%;
    left: 0;
    transform: translate(0, -50%);
}
.burger__btn span:last-child{
    top: 65%;
}